[submodule "DisplayDevice"]
	path = DisplayDevice
	url = https://github.com/ryandenekelly/DisplayDevice.git
[submodule "Menu"]
	path = Menu
	url = https://github.com/ryandenekelly/Menu.git
[submodule "Sensors"]
	path = Sensors
	url = https://github.com/ryandenekelly/Sensors.git
